<!doctype html>
<html class="h-100" lang="en">
  <head>

    {% include 'snippets/head.njk' %}

  </head>
  <body>


      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Optimization Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="btn" href="#">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>


    {% include 'snippets/maincontent.njk' %}

    <div class="container mb-5">
    {% include 'snippets/postloop.njk' %}
    </div>

    {% include 'snippets/footer.njk' %}

  </body>

</html>
